repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --config=pyproject.toml, --fix, --exit-non-zero-on-fix, --select=F401,I001 ]
      types_or: [ python, pyi, jupyter ]

- repo: local
  hooks:
    - id: uv
      name: uv
      entry: uv sync --all-extras
      language: system
      pass_filenames: false
