repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --config=pyproject.toml, --fix, --exit-non-zero-on-fix]
      types_or: [ python, pyi, jupyter ]
- repo: https://github.com/fastai/nbdev
  rev: 2.2.10
  hooks:
  - id: nbdev_clean

- repo: local
  hooks:
    - id: pytest
      name: pytest
      entry: uv run pytest
      language: system
      types: [python]
      pass_filenames: false

- repo: local
  hooks:
    - id: uv
      name: uv
      entry: uv sync --all-extras
      language: system
      pass_filenames: false
