repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --config=pyproject.toml, --fix, --exit-non-zero-on-fix]

- repo: local
  hooks:
    - id: pytest
      name: pytest
      entry: .venv/bin/python -m pytest
      language: system
      types: [python]
      pass_filenames: false

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.7.21
  hooks:
    - id: uv-sync
      args: ["--all-packages"]