name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 
      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: Configure uv
        run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - name: Create venv and install dependencies
        run: uv venv -p 3.12.5 && source .venv/bin/activate && uv pip install -e ".[dev]"
      - name: Run tests
        run: source .venv/bin/activate && pytest .